﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kaisev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div id="wrapper">
    <header>
      <a id="logo" asp-controller="Home" asp-action="Index"><img src="/resources/pangolin.png" alt="Kaisev Logo"><h1>Kaisev</h1></a>
      <div id="topcontact">
        <div>
          <a href="//gitlab.com/Kaisev" alt="Check us out on GitLab"><img src="/resources/gitlab.png" alt="GitLab logo"></a>
          <a rel="me" href="https://mastodon.xyz/@@Daigle" alt="Daigle on Mastodon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/>
            </svg>
          </a>
          <!--Hovering over this element shows its text in plain text, allowing for easier copy/pasting-->
          <a href="mailto:admin@kaisev.net" alt="Email us"><img src="/resources/email.png" alt="Email icon"></a><div class="drop">admin@kaisev.net</div>
        </div>
      </div>
      <nav>
        <a asp-controller="Home" asp-action="Index" class="nav-item @Html.ActiveClass("Index", "home", "selected")">Home</a><?
        ?><a asp-controller="Home" asp-action="Resources" class="nav-item @Html.ActiveClass("Resources", "home", "selected")">Resources</a><?
        ?><a asp-controller="Articles" asp-action="Index" class="nav-item @Html.ActiveClass("Index", "Articles", "selected")">Articles</a>
      </nav>
    </header>
    <article>
      @RenderBody()
    </article>

    <footer>
      @{
        List<string> AboutStrings = new List<string>();
        if (ViewData["Author"] != null) {
          AboutStrings.Add("Author: " + (string?)ViewData["Author"]);
        }
        if (ViewData["Modified"] != null) {
          AboutStrings.Add("Last Modified: " + (string?)ViewData["Modified"]);
        }
        ViewData["AboutString"] = string.Join(" | ", AboutStrings);
      }

      @if (ViewData["AboutString"] != null)
      {
        <p>@ViewData["AboutString"]</p>
      }
      <p>Kaisev.net Copyright @DateTime.Now.Year</p>
      <p>Any software or suggestions are provided at your own risk</p>
      <p>This work is licensed under the <a rel="license" href="https://opensource.org/license/rpl1-5-txt/">Reciprocal Public License 1.5 (RPL-1.5)</a></p>
      <p>By using this site, you are subject to our <a asp-controller="Home" asp-action="Privacy">privacy policy</a></p>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>