@{
    ViewData["Title"] = "Resources";
    ViewData["Author"] = "Jonathan Daigle";
    ViewData["Modified"] = "2023-03-10";
}
<p>This page is a collection of software and links that are useful, or that we recommend. What is this, 2004?</p>
<details>
<summary id="pc_builders" class="onclick">
    <h2>Resource for PC Builders</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>Build Guides</h3>
    <p>PC Part Picker is the one stop shop for computer parts. It pulls options and prices from multiple vendors, includes a compatibility check, and has lots of great filters.</p>
    <p>Logical Increments is a guide to ensure that you are not over spending on one component, only to be held back by cheaper components in your build. Logical Increments also has all sorts of handy build guides with detailed explanations for the decisions they make.</p>
    <a href="//pcpartpicker.com/">PC Part Picker</a>
    <a href="//www.logicalincrements.com/">Logical Increments</a>
    <li>
    <h3>/r/PCmasterrace Pro Tips</h3>
    <p>A series of tips and tricks for PC builders and gamers</p>
    <a href="//www.reddit.com/r/pcmasterrace/wiki/protips">Website</a>
    <li>
    <h3>Power Supplies</h3>
    <p>The Power Supply Tier List is a carefully curated list of power supplies, organized into tiers of quality. An excellent guide for picking a high quality power supply.</p>
    <a href="//linustechtips.com/topic/1116640-psu-tier-list/">Tier List</a>
</ul>
</details>
<details>
<summary id="windows" class="onclick">
    <h2>Windows Applications</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>Chocolatey</h3>
    <p>Chocolatey is a software repository for Windows, all of your most popular software can be installed and managed through Chocolatey.</p>
    <a href="//chocolatey.org">Website</a>
    <li>
    <h3>ChocoUpdater</h3>
    <p>A Kaisev gui application meant to be run on startup or as a scheduled task that ensures your Chocolatey packages are up to date.</p>
    <img src="resources/ChocoUpdater.png" alt="ChocoUpdater Main Screen">
    <a href="//gitlab.com/Kaisev/windows-scripts/chocoupdater/-/releases">Gitlab</a>
    <li>
    <h3>Ninite</h3>
    <p>Ninite is a batch downloader and installer for popular, free software. Ninite installs your software in the background, and turns down bundled software. A great tool for getting a new computer up to speed</p>
    <a href="//ninite.com/">Website</a>
    <li>
    <h3>Security Suite</h3>
    <p>A list of software that we recommend for maintaining your computer's security</p>
    <a asp-controller="Articles" asp-action="Security">Article</a>
    <li>
    <h3>Rufus</h3><p>A program used to create bootable USB drives. It's simple and it works.</p>
    <a href="//rufus.akeo.ie/">Website</a>
    <a href="//github.com/pbatard/rufus">GitHub</a>
    <a href="//chocolatey.org/packages/rufus">Chocolatey</a>
    <li>
    <h3>LightBulb</h3>
    <p>Adapts the colour of your display to the time of day, making it easier on your eyes at night, and helping you go to bed after working late. This is a free and open source alternative to <a href="//justgetflux.com">F.lux</a>.</p>
    <a href="//github.com/Tyrrrz/LightBulb#lightbulb-">GitHub</a>
    <a href="//chocolatey.org/packages/lightbulb">Chocolatey</a>
    <li>
    <h3>Clover 3</h3>
    <p>Adds tabs (like in your web browser) to Windows Explorer.</p>
    <a href="http://ejie.me/">Website</a>
    <a href="//chocolatey.org/packages/Clover">Chocolatey</a>
    <li>
    <h3>Visual Studio Code</h3>
    <p>A free code editor with a wide range of intuitive extensions and an excellent out of the box interface. Based on the open source vscode project from Microsoft.</p>
    <a href="//code.visualstudio.com">Website</a>
    <a href="//github.com/Microsoft/vscode">GitHub</a>
    <a href="//chocolatey.org/packages/VisualStudioCode">Chocolatey</a>
    <li>
    <h3>Custom Resolution Utility</h3>
    <p>"Custom Resolution Utility (CRU) allows custom resolutions to be defined for both AMD/ATI and NVIDIA GPUs by creating EDID overrides directly in the registry without dealing with .inf files."</p>
    <a href="//www.monitortests.com">Website</a>
    <li>
    <h3>Open Hardware Monitor</h3>
    <p>An open source hardware monitor, showing you in real-time your voltages, temperatures, clock speeds, and more. Pretty much identical to HWMonitor.</p>
    <a href="//openhardwaremonitor.org/">Website</a>
    <a href="//github.com/openhardwaremonitor">GitHub</a>
    <a href="//chocolatey.org/packages/OpenHardwareMonitor">Chocolatey</a>
    <li>
    <h3>CrystalDisk Info</h3>
    <p>Don't let the anime girls confuse you, this is an excellent tool for checking and monitoring the health of modern SSDs and Hard drives.</p>
    <a href="http://crystalmark.info/software/CrystalDiskInfo/index-e.html">Website</a>
    <a href="//github.com/hiyohiyo/CrystalDiskInfo/">GitHub</a>
    <a href="//chocolatey.org/packages/crystaldiskinfo">Chocolatey</a>
    <li>
    <h3>PushBullet</h3>
    <p>Integrate between your devices, lets you send SMS messages through your web browser, and share links and files between your devices.</p>
    <a href="//www.pushbullet.com">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/pushbullet/">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/pushbullet/chlffgpmiacpedhhbkiomidkjlcfhogd">Chrome</a>
    <a href="//chocolatey.org/packages/pushbullet">Chocolatey</a>
    <li>
    <h3>KeePass</h3>
    <p>An open source password manager, similar to LastPass or BitWarden, but stored locally on your computer. This is great for people who don't want to trust an online service, and don't want to go through the steps to setup their own BitWarden instance.</p>
    <a href="http://keepass.info/">Website</a>
    <a href="//chocolatey.org/packages/keepass">Chocolatey</a>
    <li>
    <h3>ShouldIRemoveit.com</h3>
    <p>A great resource to help determine if a program is something you want to get rid of. That being said, they are trying to sell a product; for the love of the sane use an ad blocker. Anything higher than 30% suggested removal usually means "definitely remove".</p>
    <a href="//www.shouldiremoveit.com">Website</a>
    <li>
    <h3>SysInternals</h3>
    <p>The SysInternals tools suite, including the  famous AutoRuns tool</p>
    <a href="//docs.microsoft.com/en-us/sysinternals/">Website</a>
    <a href="//chocolatey.org/packages/sysinternals">Chocolatey</a>
    <li>
    <h3>Tron Script</h3>
    <p>Not for the faint of heart. This script is over the top, grossly unnecessary, and actually kind of pointless. That's why we love it. You can usually save a few hours by resetting Windows</p>
    <a href="//www.reddit.com/r/TronScript/wiki/index">Website</a>
    <a href="//github.com/bmrf/tron/">Github</a>
    <li>
    <h3>Riot</h3>
    <p>Riot is a <a href="//matrix.org">Matrix</a> client. Matrix provides decentralized, free, and open source chat infrastructure. If you liked IRC, but want a more modern platform, Riot and Matrix is your next step.</p>
    <a href="//about.riot.im">Website</a>
    <a href="//chocolatey.org/packages/riot-web">Chocolatey</a>
</ul>
</details>
<details>
<summary id="android" class="onclick">
    <h2>Android Applications</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>F-Droid</h3>
    <p>It is difficult to use Android without getting caught up in the Google infrastructure. The default app store, the Google Play Store, forces you to use a Google account, and many users can't imagine using Android without it.</p>
    <p>F-Droid is an open source app store, hosting all open source applications, largely serving the same function as the Google Play Store. F-Droid is a must if you want to use Android without a Google Account, and in our opinion a valuable tool even for those who do want to use the Play Store.</p>
    <p>For the apps below we will list the F-Droid links whenever they are applicable. Unfortunately not all of the applications we use are available on F-Droid, but most of them are.</p>
    <a href="//f-droid.org">Website</a>
    <a href="//gitlab.com/fdroid">GitLab</a>
    <li>
    <h3>AndOTP</h3>
    <p>AndOTP is our preferred TOTP Code generator. AndOTP is a superior alternative to Google Authenticator, it is fully open source, supports backups (which is absolutely critical to a TOTP generator!), and has a variety of configurations.</p>
    <a href="//f-droid.org/en/packages/org.shadowice.flocke.andotp/">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=org.shadowice.flocke.andotp">Play Store</a>
    <a href="//github.com/andOTP/andOTP">GitHub</a>
    <li>
    <h3>Firefox</h3>
    <p>Firefox may seem obvious, but there is a specific reason for this recommendation: Firefox on Android supports Add-ons. This is a game changer for mobile browsers, it means you can install our recommended add-ons <a href="//addons.mozilla.org/en-US/firefox/addon/ublock-origin/">Ublock Origin</a>, <a href="//addons.mozilla.org/en-US/firefox/addon/https-everywhere">HTTPS Everywhere</a>, <a href="//addons.mozilla.org/en-US/firefox/addon/privacy-badger17">Privacy Badger</a>, and <a href="//addons.mozilla.org/en-US/firefox/addon/decentraleyes">Decentraleyes</a> on your Android devices!</p>
    <a href="//www.mozilla.org/en-US/firefox/mobile/">Website</a>
    <a href="//play.google.com/store/apps/details?id=org.mozilla.firefox">Play Store</a>
    <li>
    <h3>NewPipe</h3>
    <p>Simply the best YouTube experience on Android. Fast playback, video and audio downloads, picture in picture, and of course fully open source!</p>
    <a href="//newpipe.schabi.org">Website</a>
    <a href="//f-droid.org/packages/org.schabi.newpipe/">F-Droid</a>
    <a href="//github.com/TeamNewPipe/NewPipe/">GitHub</a>
    <li>
    <h3>BitWarden</h3>
    <p>Our recommended password manager. BitWarden is a freemium model online password manager with a solid extensions and Android app, and is also open source and self-hostable</p>
    <a href="//bitwarden.com/">Website</a>
    <a href="//play.google.com/store/apps/details?id=com.x8bit.bitwarden">Play Store</a>
    <a href="https://github.com/bitwarden">GitHub</a>
    <li>
    <h3>AntennaPod</h3>
    <p>AntennaPod puts the 'free' in 'insane amounts of free podcasts'.</p>
    <a href="//antennapod.org">Website</a>
    <a href="//f-droid.org/packages/de.danoeh.antennapod">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=de.danoeh.antennapod">Play Store</a>
    <a href="//github.com/antennapod/AntennaPod">GitHub</a>
    <li>
    <h3>Red Moon</h3>
    <p>Blue light is hard on your vision, drastically affecting your night vision, and is shown to hurt your ability to sleep. Red Moon is an application designed to filter out blue light depending on the hours of the day to help prevent being night blinded by your phone, and to help you sleep better.</p>
    <a href="//f-droid.org/en/packages/com.jmstudios.redmoon/">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=com.jmstudios.redmoon">Play Store</a>
    <a href="//github.com/LibreShift/red-moon">GitHub</a>
    <li>
    <h3>Easer</h3>
    <p>Easer is an Android automation tool, designed to perform tasks in response to predefined logic and events. At the time of writing Easer is rough around the edges, but it shows incredible potential</p>
    <a href="//me.ryey.icu/Easer/en/">Website</a>
    <a href="//f-droid.org/en/packages/ryey.easer">F-Droid</a>
    <a href="//github.com/renyuneyun/easer">GitHub</a>
    <li>
    <h3>Etar</h3>
    <p>Etar is a reliable and well thought out calendar application for Android, with all of the features you would expect, and without unnecessary bloat.</p>
    <a href="//f-droid.org/en/packages/ws.xsoh.etar">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=ws.xsoh.etar">Play Store</a>
    <a href="//github.com/Etar-Group/Etar-Calendar">GitHub</a>
    <li>
    <h3>LabCoat</h3>
    <p>An excellent companion application for GitLab, allowing you to view commits, manage issues and groups.</p>
    <a href="//f-droid.org/en/packages/com.commit451.gitlab">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=com.commit451.gitlab">Play Store</a>
    <a href="//github.com/Commit451/LabCoat">GitHub</a>
    <li>
    <h3>WiFi Analyzer</h3>
    <p>An open source tool to turn your Android device into a powerful WiFi analysis tool, allowing you to determine ideal channels, identify access points, plot signal strength, and much more.</p>
    <a href="//vremsoftwaredevelopment.github.io/WiFiAnalyzer/">Website</a>
    <a href="//f-droid.org/en/packages/com.vrem.wifianalyzer">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=com.vrem.wifianalyzer">Play Store</a>
    <li>
    <h3>Loyalty Card Keychain</h3>
    <p>A dirt simple application for storing bar codes. Store your loyalty cards, your library card, or whatever other bar codes you need, but don't need taking up precious wallet space.</p>
    <a href="//f-droid.org/en/packages/protect.card_locker">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=protect.card_locker">Play Store</a>
    <a href="//github.com/brarcher/loyalty-card-locker">GitHub</a>
    <li>
    <h3>RedReader</h3>
    <p>RedReader is a simple, lightweight Reddit client with a simple, yet effective user interface and an excellent caching system to reduce data usage on your phone. RedReader may not be as full-featured as some of the other Reddit clients, the largest issue being there are no moderation tools. However, the sacrifice of some features is worth it for the slickest Reddit experience you can get on mobile.</p>
    <a href="//f-droid.org/en/packages/org.quantumbadger.redreader">F-Droid</a>
    <a href="//play.google.com/store/apps/details?id=org.quantumbadger.redreader">Play Store</a>
    <a href="//github.com/QuantumBadger/RedReader">GitHub</a>
</ul>
</details>
<details>
<summary id="add-ons" class="onclick">
    <h2>Browser Add-ons</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>BitWarden</h3>
    <p>BitWarden is our recommended password manager. A password manager is a service or program that stores your passwords, and gives you tools to help manage and use them.</p>
    <a href="//bitwarden.com">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/bitwarden-password-manager">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb">Chrome</a>
    <a href="//microsoftedge.microsoft.com/addons/detail/jbkfoedolllekgbhcbcoahefnbanhhlh">Edge</a>
    <li>
    <h3>uBlock Origin</h3>
    <p>You will never see the Internet the same way again. uBlock Origin is a blocker that will block advertisements, trackers, and known infected websites.</p>
    <a href="//github.com/gorhill/uBlock">Github</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/ublock-origin">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">Chrome</a>
    <a href="//microsoftedge.microsoft.com/addons/detail/odfafepnkmbhccpbejgmiehpchacaeak">Edge</a>        <li>
    <h3>uBlacklist</h3>
    <p>Block sites or domains from showing in your search results</p>
    <a href="//github.com/iorate/uBlacklist">GitHub</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/ublacklist/">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/ublacklist/pncfbmialoiaghdehhbnbhkkgmjanfhe">Chrome</a>
    <li>
    <h3>SponsorBlock</h3>
    <p>Have you ever wished that you could block ads that are baked into YouTube videos? Well now you can with an open-source application and a community driven database.</p>
    <a href="//sponsor.ajay.app">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/sponsorblock/?src=external-website">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/sponsorblock-for-youtube/mnjggcdmjocbbbhaepdhchncahnbgone">Chrome</a>
    <a href="//github.com/ajayyy/SponsorBlock/wiki/Edge">Edge</a>
    <li>
    <h3>HTTPS Everywhere</h3>
    <p>HTTPS Everywhere is an add-on that forces HTTPS. If you have read <a asp-controller="Articles" asp-action="Security" >our articles on security</a>, then you know that HTTPS is a connection type that prevents people from intercepting your traffic. HTTPS everywhere forces HTTPS connections wherever possible</p>
    <a href="//www.eff.org/https-everywhere">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/https-everywhere">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp">Chrome</a>
    <a href="//microsoftedge.microsoft.com/addons/detail/fchjpkplmbeeeaaogdbhjbgbknjobohb">Edge</a>
    <li>
    <h3>Privacy Badger</h3>
    <p>Privacy Badger is an add-on designed to stop people from tracking what you do on the Internet. Specifically advertisers will try to track what you do and where you go so they can sell that information.</p>
    <p>Privacy Badger is meant to protect your right to consent to your information being tracked across multiple sites.</p>
    <a href="//privacybadger.org">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/privacy-badger17/">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp">Chrome</a>
    <a href="//microsoftedge.microsoft.com/addons/detail/mkejgcgkdlddbggjhhflekkondicpnop">Edge</a>
    <li>
    <h3>Decentraleyes</h3>
    <p>Decentraleyes cuts out unnecessary requests to third party services, and opts to host common resources locally instead.</p>
    <a href="//Decentraleyes.org">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/decentraleyes">Firefox</a>
    <a href="//chrome.google.com/webstore/detail/decentraleyes/ldpochfccmkkmhdbclfhpagapcfdljkj">Chrome</a>
    <li>
    <h3>Noscript</h3>
    <p>Noscript is a (regrettably) Firefox-only add-on that will block any and all scripts unless otherwise instructed. It takes time and a bit of dedication to build up your whitelist, but it really highlights how abused JavaScript is on the modern Internet.</p>
    <a href="//noscript.net/">Website</a>
    <a href="//addons.mozilla.org/en-US/firefox/addon/noscript">Firefox</a>
</ul>
</details>
<details>
<summary id="server" class="onclick">
    <h2>Server Tools and Self Hosted Applications</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>Web Server Security Tools</h3>
    <p>Use Let's Encrypt to create free, trusted certificates for any domain you own</p>
    <p>Use the Qualys SSL Server test to get a detailed rating of the security of your SSL configuration</p>
    <p>Use IIS Crypto as an easy way to set your cipher suites in IIS, IIS Crypto makes re-configuring cipher suites one of the easiest jobs you can do.</p>
    <p>Sucuri provides a free scanning services to check a website for vulnerabilities. It is a great way to to find basic security flaws with your website.</p>
    <a href="//letsencrypt.org">Let's Encrypt</a>
    <a href="//www.ssllabs.com/ssltest/index.html">Qualys SSL Test</a>
    <a href="//www.nartac.com/Products/IISCrypto/Download">IIS Crypto</a>
    <a href="//sitecheck.sucuri.net">Sucuri Sitecheck</a>
    <li>
    <h3>BitWarden</h3>
    <p>BitWarden is an open source password manager that is self hostable, but also available as a freemium service. </p>
    <a href="//bitwarden.com">Website</a>
    <a href="//github.com/bitwarden">GitHub</a>
    <li>
    <h3>Nextcloud</h3>
    <p>Nextcloud is an open source, self hosted file sync and storage provider comparable to Google Drive. Nextcloud is robust, highly configurable, and supports LDAP. A fork of <a href="//owncloud.org">OwnCloud</a></p>
    <a href="//nextcloud.com">Website</a>
    <a href="//github.com/nextcloud">GitHub</a>
    <li>
    <h3>Jitsi Meet</h3>
    <p>Jitsi Meet is a videoconferencing service that is open source, and self hostable. Also available as a freemium service.</p>
    <a href="//jitsi.org/jitsi-meet/">Website</a>
    <a href="//github.com/jitsi">GitHub</a>
    <a href="//meet.jit.si">Start a meeting</a>
    <li>
    <h3>GitLab</h3>
    <p>GitLab is an open source and self-hostable Git Source Code Management system and DevOps toolset, an excellent alternative to GitHub.</p>
    <a href="//about.gitlab.com">Website</a>
    <a href="//about.gitlab.com/install">Installation Packages</a>
</ul>
</details>
<details>
<summary id="games" class="onclick">
    <h2>Games</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>Super Smash Bros Project M 3.6</h3>
    <p>Project M is a mod of Super Smash Bros Brawl designed to bring back the speed and competitive edge of Melee</p>
    <p>We host the full Project M 3.6 ISO with Subspace Emissary removed.</p>
    <a href="//projectmgame.com">Website</a>
    <a href="/resources/ProjectM_3.6.iso">Download (4.4GB)</a>
    <a href="http://projectmirror.no-ip.org/">Mirror Site</a>
    <li>
    <h3>Mupen64Plus QT</h3>
    <p>Provides a GUI for Mupen64Plus. Mupen64Plus is great for any home theatre setup that features Nintendo PowerGloves. If yours doesn't, you'd better use mupen64plus-qt as well</p>
    <a href="//github.com/dh4/mupen64plus-qt">GitHub</a>
    <a href="//chocolatey.org/packages/mupen64plus-qt">Chocolatey</a>
</ul>
</details>
<details>
<summary id="web_design" class="onclick">
    <h2>Web Design</h2>
</summary>
<ul class="blocklist hide">
    <li>
    <h3>Developer References</h3>
    <p>Below are a list of sites that I often use when dealing with web pages</p>
    <a href="//developer.mozilla.org/en-US/">Mozilla Developer Network</a>
    <a href="//tympanus.net/codrops/css_reference/">Codrops CSS Reference</a>
    <a href="//github.com/google/styleguide">Google Styleguides</a>
    <a href="//www.w3.org/">W3.org</a>
    <li>
    <h3>The Odin Project</h3>
    <p>Learn full stack web development</p>
    <a href="//www.theodinproject.com">Website</a>
    <li>
    <h3>web.dev</h3>
    <p>Measure your site's performance</p>
    <a href="//web.dev">Website</a>
    <li>
    <h3>Adobe Kuler</h3>
    <p>Automatic colour coordinator. For those of us who can't coordinate our own colours.</p>
    <a href="//color.adobe.com/create/color-wheel/">Website</a>
</ul>
</details>
<details>
<summary id="scripts" class="onclick">
    <h2>Scripts</h2>
</summary>
<ul class="blocklist">
    <li>
    <h3>LazyWinAdmin GUI</h3>
    <p>Check out my fork of the LazyWinAdmin GUI tool, a tool designed for Windows administrators and Service Desk to quickly and easily manage remote computers.</p>
    <img src="resources/0.5.0_Main.png" alt="LazyWinAdmin Main Screen">
    <a href="//gitlab.com/Kaisev/windows-scripts/LazyWinAdmin_GUI">GitLab</a>
    <a href="/resources/LazyWinAdmin_Release.zip">Latest Release (Direct Download)</a>
    <a href="https://lazywinadmin.com/p/scripts.html#LazyWinAdmin">Original Project</a>
    <li>
    <h3>Update-FTPExternalIP</h3>
    <p>A small PowerShell script for updating the external IP used by the Windows IIS FTP service.</p>
    <a href="//gitlab.com/Kaisev/windows-scripts/update-ftpexternalip.ps1">GitLab</a>
    <li>
    <h3>Drive-Mapper</h3>
    <p>A bash script for Linux/Systemd systems to manage mapping and unmapping of SMB shares based on availability of the host</p>
    <a href="//gitlab.com/Kaisev/nix-scripts/Drive-Mapper">GitLab</a>
    <li>
    <h3>SCCM Client Center</h3>
    <p>An absolute must-have for managing SCCM endpoints. It's hard to imagine working in an SCCM environment without this tool, it will make your desktop support team better, faster, and stronger.</p>
    <a href="//github.com/rzander/sccmclictr">GitHub</a>
    <a href="//chocolatey.org/packages/SCCMCliCtr">Chocolatey</a>
</ul>
</details>